{% extends 'hello3/base.html' %}
{% block Content %}
<h1>{{title}}</h1>
<div class="bg-light p-3 p-sm-5 mb-4 border-top">
    <div class="container">
      <h2 class="display-4">ナレッジ一覧</h2>
      <hr class="my-4">
      <p>ナレッジ一覧はこちら！</p>
      <table>
        <tr>
            <th>title</th>
            <th>name</th>
            <th>datetime</th>
            <th>content</th>
        </tr>
        {% for item in data %}
        <tr>
            <td><a href="{% url 'edit' item.id %}">{{item.title}}</a></td>
            <td>{{item.person}}</td>
            <td>{{item.pub_date}}</td>
            <td>{{item.content}}</td>
        <tr>
        {% endfor %}
      </table>
      {% if data.has_previous %}
        <a href="{% url 'list' %}/{{data.previous_page_number}}">&laquo;prev</a>
      {% endif %}
      {% if data.has_next %}
        <a href="{% url 'list' %}/{{data.next_page_number }}">next&raquo;</a>
      {% endif %}
    </div>
</div>

<div class="container">
    <a class="btn btn-primary btn-lg" href="{% url 'create' %}" role="button">メッセージを作成する</a>
</div>
{% endblock Content %}
