{% extends 'hello3/base.html' %}

{% block Content %}
    <section class="section">
        <div class="container">
            <a href="{% url 'post_list' %}">戻る</a>
            <hr>

            <h1 class="title">{{ message.title }}</h1>
            <div class="content">
                {{ message.content | linebreaks }}
            </div>
            <a href="{% url 'comment_create' message.pk %}">コメントする</a>

            <hr>
            <h2 class="title is-5">コメント一覧</h2>
            {% for comment in comment_list %}
                <div class="box">
                    <p>{{ comment.text }}</p>
                    <a href="{% url 'reply_create' comment.pk %}">返信する</a>
                    {% with reply_list=comment.comment_set.all %}
                        {% include 'hello3/includes/reply.html' %}
                    {% endwith %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock Content%}
